# Python Bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.log
local_settings.py
*.pot
*.py[cod]

# Django migrations
**/migrations/*.py
**/migrations/*.pyc

# Virtual environments
venv/
env/
myenv
ENV/
.venv/
.virtualenv/

# IDE and Editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Operating system files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
*.dist-info/
*.whl

# Tests
*.coverage
.coverage.*
nosetests.xml
coverage.xml
*.hypothesis/

# Jupyter notebooks
.ipynb_checkpoints/

# Static files
staticfiles/
media/

# dotenv or environment variables files
.env
*.env
__pycache__/
myenv/


/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
